Gemfile.lock
.bundle
vendor
.sass-cache
node_modules
npm-debug.log

*.sublime-workspace
*.sublime-project

.DS_Store
.idea/
.vagrant
_site
package.box
provision-post.sh
provision-pre.sh

www/database/wordpress.sql

www/wordpress/*.*
www/wordpress/wp-admin/
www/wordpress/wp-includes/

www/wordpress/wp-content/*.*
www/wordpress/wp-content/*/

#commit plugin
!www/wordpress/wp-content/plugins/
www/wordpress/wp-content/plugins/*/
www/wordpress/wp-content/plugins/*.*
#!www/wordpress/wp-content/plugins/my-plugin/

#commit theme
!www/wordpress/wp-content/themes/
www/wordpress/wp-content/themes/*/
www/wordpress/wp-content/themes/*.*
!www/wordpress/wp-content/themes/border-2014/