# Ignore bundler config
.bundle

# Ignore the build directory
build/

# Ignore cache
.sass-cache
.cache

# OSX
.DS_Store
Thumbs.db

# Other
*.codekit
# *.sublime-workspace
# *.sublime-project
node_modules/

# Vagrant (WordPress)
!/vccw/
/vccw/*
!/vccw/Vagrantfile
!/vccw/www/
!/vccw/www/wordpress/
!/vccw/www/wordpress/wp-config.php
!/vccw/www/wordpress/wp-content/
!/vccw/www/wordpress/wp-content/*