<footer class="footer">
  <p class="footer-text">
    Border is portfolio, blog, photoalbum, memopad and bookmark of RYO NAKAE. <br>
    (C) 2014 Border/
  </p>

  <ul class="footer-link">
    <li><a href="" target="_blank">Twitter</a></li>
    <li><a href="" target="_blank">Facebook</a></li>
    <li><a href="" target="_blank">Mail</a></li>
  </ul>
</footer>