<header class="header">
  <h1 class="header-title">
    <%= link_to image_tag('logo.svg', :width => '151', :height => "53", :alt => 'Border/'), '/index.html' %>
  </h1>

  <nav class="header-navigation">
    <ul>
      <li><%= link_to 'About', '/about.html' %></li>
      <li><a href="">Works</a></li>
      <li><a href="">Information</a></li>
      <li><a href="">Bookmark</a></li>
      <li><a href="" target="_blank">Blog</a></li>
    </ul>
  </nav>
</header>