<ul class="l-inner l-container">
  <li class="l-grid-6">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-6">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-6">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-6">
    <article class="box box-works">box</article>
  </li>
</ul>