<ul class="l-container">
  <li class="l-grid-6">
    <article class="box box-information">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/200x200.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">HTMLテンプレート「Rin」で、LESSのコンパイルと画像自動圧縮をgruntで行うようにしました</a></h1>
      <p class="box-read">
        HTML と Less をセットにした Boilerplate 的なテンプレート「Rin」をアップデートし、gruntを使ってLESSのコンパイルと画像自動圧縮を行うようにしました。
      </p>
    </article>
  </li>

  <li class="l-grid-6">
    <article class="box box-information">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/200x200.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">「GRAPHIC DESIGN 2014」に掲載されました</a></h1>
      <p class="box-read">
        デザイナー年鑑的な書籍「GRAPHIC DESIGN 2014 グラフィックデザイン 2014」に、わたくし@sanographixが掲載されました。
      </p>
    </article>
  </li>

  <li class="l-grid-6">
    <article class="box box-information">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/200x200.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">HTMLテンプレート「Rin」で、LESSのコンパイルと画像自動圧縮をgruntで行うようにしました</a></h1>
      <p class="box-read">
        HTML と Less をセットにした Boilerplate 的なテンプレート「Rin」をアップデートし、gruntを使ってLESSのコンパイルと画像自動圧縮を行うようにしました。
      </p>
    </article>
  </li>

  <li class="l-grid-6">
    <article class="box box-information">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/200x200.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">「GRAPHIC DESIGN 2014」に掲載されました</a></h1>
      <p class="box-read">
        デザイナー年鑑的な書籍「GRAPHIC DESIGN 2014 グラフィックデザイン 2014」に、わたくし@sanographixが掲載されました。
      </p>
    </article>
  </li>
</ul>