<section class="mainvisual">
  <figure class="mainvisual-image">
    <%= image_tag 'main.jpg' %>
    <!-- <%= image_tag 'https://farm8.staticflickr.com/7390/12534523893_de31ce5613_k.jpg' %> -->
  </figure>

  <div class="mainvisual-text">
    <h1 class="text-title">RYO NAKAE</h1>
    <p class="text-read">I’m a Web Designer in Japan</p>
    <div class="button">
      <a href="">About</a>
    </div>
  </div>
</section>