<section class="mainvisual">
  <figure class="mainvisual-image">
    <img src="" alt="">
  </figure>

  <div class="mainvisual-text">
    <h1 class="etxt-title">RYO NAKAE</h1>
    <p>I’m a Web Designer in Japan</p>
    <div class="button">
      <a href="">About</a>
    </div>
  </div>
</section>