<ul class="l-container">
  <li class="l-grid-4">
    <article class="box box-playgrounds">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">Dribbble</a></h1>
    </article>
  </li>

  <li class="l-grid-4">
    <article class="box box-playgrounds">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">JAYPEG</a></h1>
    </article>
  </li>

  <li class="l-grid-4">
    <article class="box box-playgrounds">
      <figure class="box-image">
        <a href="">
          <%= image_tag 'http://placehold.jp/320x320.png' %>
        </a>
      </figure>
      <h1 class="box-title"><a href="">GitHub</a></h1>
    </article>
  </li>
</ul>