<ul class="l-container">
  <li class="l-grid-4">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-4">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-4">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-4">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-4">
    <article class="box box-works">box</article>
  </li>
  <li class="l-grid-4">
    <article class="box box-works">box</article>
  </li>
</ul>