body.page-index
  .l-header
    position: absolute
    top: 0
    left: 0
    z-index: 100


  .l-section.section-works


  .l-section.section-playgrounds
    background-color: $bgColor-inverse
    background-image: image-url("playgrounds-bg.png")
    +background-size(cover)


  .l-section.section-information
    background-color: $bgColor-grey

    .l-container
      margin-top: 3em
      margin-bottom: 1.5em

      > *
        margin: 0
        padding: 10px