.mainvisual
  display: table
  position: relative
  background: $bgColor-inverse

  .mainvisual-image
    position: absolute
    width: 100%
    height: 100%
    overflow: hidden
    top: 0
    left: 0

    img
      position: absolute

  .mainvisual-text
    display: table-cell
    vertical-align: middle
    text-align: center
    position: relative

    h1
      +fontSize(60)
      margin: 0
      color: $color-inverse
      +text-shadow(0 0 100px rgba(#000, 0.5))

    p
      +fontSize(17)
      font-family: $fontFamily-serif
      color: $color-inverse
      font-style: italic
      margin: 0.3em 0 0 0
      +text-shadow(0 0 100px rgba(#000, 0.5))

    .button
      margin-top: 2.5em


+mediaquery-smartphone
  .mainvisual
    .mainvisual-image
      opacity: 0.9