.navigation
  float: right
  margin-top: 14px
  font-weight: bold

  ul
    margin: 0
    +clearFix

  li
    float: left
    margin-left: 1.5em

  a
    color: $color-inverse


.navigation-toggle
  display: none
  position: fixed
  top: 8px
  right: 2%
  +fontSize(36)
  z-index: 100