body.page-index
  .logo
    background-position: 0 0


  .navigation
    a
      color: $fontColor-base


  .section-playgrounds
    background-color: $bgColor-inverse
    background: url("../img/playgrounds-bg.jpg") no-repeat
    background-size: cover


  .section-information
    background-color: $bgColor-grey
    background-color: #fff

    .l-container
      margin-top: 3em
      margin-bottom: 1.5em


+mediaquery-smartphone
  body.page-index
    .navigation-toggle
      color: $fontColor-base

    &.is-nav-open
      .navigation-toggle
        color: $fontColor-inverse