.logo
  float: left
  margin: 0
  z-index: 10
  +textReplace
  $imageWidth: 304px
  $imageHeight: 108px
  width: ($imageWidth / 2)
  height: ($imageHeight / 2)
  background: url("../img/logo-white@2x.png") no-repeat
  background-size: ($imageWidth / 2), ($imageHeight / 2)
  @extend %animation
  transition-property: opacity

  &:hover
    opacity: 0.7


body.page-index .logo
  background-image: url("../img/logo@2x.png")


body.no-eyecatch .logo
  background-image: url("../img/logo@2x.png")