.navigation
  float: right
  margin-top: 14px
  font-weight: bold
  letter-spacing: 0.08em

  ul
    margin: 0
    +clearFix
    list-style-type: none

  li
    float: left
    margin-left: 1.5em

    &:first-child
      margin-left: 0

  a
    color: $fontColor-inverse

  a:hover
    color: $fontColor-link


body.page-index .navigation
  a
    color: $fontColor-base

  a:hover
    color: $fontColor-link


body.no-eyecatch .navigation
  a
    color: $fontColor-base

  a:hover
    color: $fontColor-link