.navigation
  float: right
  margin-top: 14px
  font-weight: bold
  letter-spacing: 0.08em
  @extend %animation
  transition-duration: 400ms
  transition-timing-function: $easeInOutCubic

  ul
    margin: 0
    +clearFix
    list-style-type: none
    padding-left: 0

  li
    float: left
    margin-left: 1.5em

    &:first-child
      margin-left: 0

  a
    color: $fontColor-inverse

  a:hover
    color: $fontColor-link


body.page-index .navigation
  a
    color: $fontColor-base

  a:hover
    color: $fontColor-link


body.no-eyecatch .navigation
  a
    color: $fontColor-base

  a:hover
    color: $fontColor-link


body > *:not(.l-navigation)
  @extend %animation
  transition-property: opacity
  transition-duration: 400ms


.navigation-toggle
  position: absolute
  right: 2%
  top: 9px
  font-size: 3.2rem
  @extend %animation
  color: $fontColor-inverse

  i:before
    margin: 0

body.page-index .navigation-toggle,
body.no-eyecatch .navigation-toggle
  color: $fontColor-base

body.is-nav-open .navigation-toggle
  color: $fontColor-inverse