---
layout: layout
title: Border/About
pageclass: page-page
---


<!-- main-visual -->
<div class="mainvisual" id="mainvisual">
  <figure class="mainvisual-image">
    <%= image_tag 'https://farm8.staticflickr.com/7390/12534523893_de31ce5613_k.jpg' %>
  </figure>

  <div class="mainvisual-text">
    <h1>About</h1>
  </div>
</div>


<!-- main -->
<article class="l-entry">
  <!--
  <header class="entry-header">
    <div class="l-inner">
      <h1 class="entry-title">About Border/</h1>
      <p class="entry-info">
        <small>2013 / Website</small>
      </p>
    </div>
  </header>
  -->

  <div class="entry-content">
    <div class="l-inner">
      <h1>Border/</h1>
      <p>Border/ is my portfolio, blog, diary, memo pad, photo album, etc.<br>Powerd by WordPress.</p>

      <h2>RYO NAKAE / 中江 亮</h2>
      <p>I’m a Web Designer in Kyoto, Japan.</p>

      <h3>Contact me</h3>
      <ul>
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Dribbble</a></li>
        <li><a href="">JAYPEG</a></li>
      </ul>
    </div>
  </div>

  <footer class="entry-footer">
    <div class="l-inner">
      footer
    </div>
  </footer>
</article>