---
layout: layout
title: Border/
pageclass: page-index
---


<!-- main-visual -->
<%= partial "modules/mainvisual" %>


<!-- works -->
<div class="l-section section-works">
  <h1 class="section-title">Works</h1>

  <%= partial "modules/works-archive" %>

  <div class="butoon"><a href="">More</a></div>
</div>


<!-- playgrounds -->
<div class="l-section section-playgrounds">
  <h1 class="section-title">Playgrounds</h1>

  <%= partial "modules/playgrounds-archive" %>
</div>


<!-- information -->
<div class="l-section section-information">
  <h1 class="section-title">Information</h1>

  <%= partial "modules/information-archive" %>

  <div class="butoon"><a href="">More</a></div>
</div>