---
layout: layout
title: Border/Information
pageclass: page-archive
---


<!-- main-visual -->
<div class="mainvisual" id="mainvisual">
  <figure class="mainvisual-image">
    <%= image_tag 'https://farm3.staticflickr.com/2860/11706787545_de8b750804_k.jpg' %>
  </figure>

  <div class="mainvisual-text">
    <h1>Information</h1>
  </div>
</div>


<!-- works -->
<section class="l-section section-information">
  <div class="l-inner">
    <%= partial "modules/information-archive" %>

    <a class="button button-default" href="">More</a>
  </div>
</section>