---
layout: layout
title: Border/Works
pageclass: page-archive
---


<!-- main-visual -->
<div class="mainvisual" id="mainvisual">
  <figure class="mainvisual-image">
    <%= image_tag 'https://farm4.staticflickr.com/3822/11706845554_fdf0aaf901_k.jpg' %>
  </figure>

  <div class="mainvisual-text">
    <h1>Works</h1>
    <!--
    <p class="entry-info">
      <small>2013 / Website</small>
    </p>
    -->
  </div>
</div>


<!-- works -->
<div class="l-section section-works">
  <div class="l-inner">
    <%= partial "modules/works-archive" %>

    <a class="button button-default" href="">More</a>
  </div>
</div>